<!DOCTYPE CSS>

body{
	font-family: gefofoorgia;
	min-width: 1000px;
}

#wrap{
	font-family: georgia;
	width: 1020px;
  	margin: 0 auto;
  	min-width: 1000px;
}

.clearfix  {
  zoom: 1;
}

.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}

.clearfix:after {
  clear: both;
}

#header{
    position: relative;
    margin: 0 13px;
}

.title {
	display:inline;
	color: #515C61;
	position: relative;
	top: 15px;
}

.lighter{
	position: relative;
	left: 5px;
	color: #616058;
}

#nav{
	display: inline;
	color: #515C61;
	position: absolute;
	left: 547px;
	top: 36px;

}
#nav li{
	display: inline-block;
}

a, #header{	
	color: black;
}

a:link{
	display: inline;
	text-decoration: none;	
}

a:hover{
	color:#8699A1;
}

#content{
	display: inline-block;
	width: 990px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 30px;
	position: relative;
	left: 12px;	
}

#media{
	height: 296px;
	border: solid 3px;
}

.pictures{
	width: 100%;
	display:block;
	margin-left: auto;
	margin-right: auto;
}

#left_panel{
	width: 510px;
	float: left;
	display: inline-block;
}


#right_panel{
	width: 480px;
	float: right;
}


#content.studio{
	border: solid 3px;
	padding: 5px 20px 10px 20px;
	margin-right: auto;
	margin-left: auto;
	width: 948px;
	margin-top: 40px
}

.studio a{
	text-decoration: underline;
}

.links{
	border: solid 3px;
	padding: 5px 20px 10px 20px;
	width: 948px;
	margin-top: 40px
}
.links li{
	list-style-type: none;
	padding:5px;

}

.links ul{
	width:300px;
	display: inline-block;
}

.links img{
	float:right;
	position: relative;
	width: 400px;
	top: 30px;
	right: 45px;
}

.form {
	width: 384px;
	float: right;
}

.form form{
	position: relative;
	bottom: 10px;
}

.form p {
	font-size: 14px;
}
.form p:nth-child(3){
	color: red;
	position: relative;
	bottom: 10px;
} 

.red{
	color: red;
	size: 8px;
}
.photoright{
	float:right;
	width: 300px;
	padding: 0px 0px 20px 20px;
}

.photoleft{
	float:left;
	padding: 0px 20px 20px 0px;
}



#aboutphoto {
	position: relative;
	float: right;
	padding: 0px 0px 20px 20px;
	bottom:27px;
}

#calendar{
	position: relative;
	width: 800px;
	height: 600px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 25px;
	border: solid 3px;
	padding: 15px 95px 10px 95px;
}

#footer{
	text-align: right;
	display: block;
	clear: both;
	position: relative;
	bottom: 30px;
	font-size: 14px;
	color: #515C61;
	right: 14px;
}